
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link href="~/Content/Custom/Menus.css" rel="stylesheet" />

<div class="clsPageBannerHeader clsDesktop" style="background-color:red;">
    <div class="clsCenterBlock clsPageBannerHeaderPad">
        <div class="clsPageBannerHeaderTitle">
           @* <div><img src="~/Content/Images/Red_close_icon.png" alt="" /> </div>*@
        Error!
        </div>
        <div class="clsPageBannerHeaderSubTitle"> Oops something went wrong, If you need any assitance please contact our call center "086 000 4249"</div>
    </div>
</div>
