 *, *:before, *:after
    {
        -webkit-box-sizing:border-box;
    }
    .inputBox {
        border: none !important;
        border-bottom: 1px solid #fff !important;
        border-radius: 0px !important;
        font-size: 12px;
        /*width: 180px !important;*/
        background-color:transparent;
        color:#fff;
    }
    .inputBox::placeholder {
         color:#9EA4A9;
    }
    #drpContactTitle{
        width:120px;border-radius:30px;border-color:#fff;background-color:transparent;padding:10px;float:left;margin-right:20px;border:1px solid #fff;color:#fff;
    }

    select > option {
   color:#003F7D;
 }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}

    ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}