/*h3, p {
    color: #cccccc;
}
p {

    font-size: 12px;
}*/
/*.btn {
    margin-bottom: 1%;
}
.jumbotron {
    background-color: #0657A7;
}
.container h3.heading {
    font-size: 16px;
    color: #29303C;
    font-weight: bold;
}*/
/*.clsCenterBlock {
    max-width: 100%;
}

.footer {
    height: auto !important;
    background-color: #323232;
}*/
/*********************************************************************** Responsive ********************************************************************/
/*@media only screen and (min-width : 321px) {
    .footer {
        height: auto !important;
        background-color: #323232;
    }
}*/
